CREATE DATABASE [Restaurant Management];
GO
USE [Restaurant Management]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Tell] [nvarchar](50) NULL,
	[DateCreated] [smalldatetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_BillDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TableID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Discount] [float] NULL,
	[Tax] [float] NULL,
	[Status] [bit] NOT NULL,
	[CheckoutDate] [smalldatetime] NULL,
	[Account] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[FoodCategoryID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](50) NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int]  NOT NULL,
	[AccountName] [nvarchar](50) NOT NULL,
	[Actived] [bit] NOT NULL,
	[Notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_RoleAccount] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'lgcong', N'legiacong', N'Lê Gia Công', N'conglg@dlu.edu.vn', NULL, NULL)
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'pttnga', N'phanthithanhnga', N'Phan Thị Thanh Nga', N'ngaptt@dlu.edu.vn', NULL, CAST(N'2020-06-04T00:00:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'tdquy', N'thaiduyquy', N'Thái Duy Quý', N'quytd@dlu.edu.vn', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (1, 1, 3, 2)
INSERT [dbo].[BillDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (2, 2, 1, 1)
INSERT [dbo].[BillDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (3, 3, 2, 2)
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (1, N'Hóa đơn thanh toán', 5, 150000, 0.05, 0, 1,'2025-10-03', N'tdquy')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (2, N'Hóa đơn thanh toán', 2, 200000, 0.15, 0.3, 1, '2025-10-05', N'pttnga')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (3, N'Hóa đơn thanh toán', 1, 300000, 0.05, 0.1, 0, '2025-10-04', N'ttplinh')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (1, N'Khai vị', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (2, N'Hải sản', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (3, N'Gà', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (1, N'Rau muống xào tỏi', N'Đĩa', 6, 20000, NULL)
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (2, N'Cơm chiên Dương châu', N'Đĩa nhỏ', 4, 35000, N'3 người ăn')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (3, N'Cơm chiên Dương châu', N'Đĩa lớn', 4, 40000, N'4 người ăn')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (1, N'Adminstrator', NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (2, N'Kế toán', NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (3, N'Nhân viên thanh toán', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO

INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'lgcong', 1, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'pttnga', 1, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'tdquy', 1, NULL)

GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity]) VALUES (1, N'01', 0, 4)
INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity]) VALUES (2, N'02', 0, 4)
INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity]) VALUES (3, N'03', 0, 4)

SET IDENTITY_INSERT [dbo].[Table] OFF
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Bills] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Bills]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Food] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Food]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Table]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_Category] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_Category]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Account]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Role]
GO
/****** Object:  StoredProcedure [dbo].[Category_Delete]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Category_Delete] ( @ID int)
as
begin
delete from Category where ID = @ID
end
GO
/****** Object:  StoredProcedure [dbo].[Category_GetAll]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Category_GetAll]
as
begin
select * from Category
end
GO
/****** Object:  StoredProcedure [dbo].[Category_GetID]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Category_GetID] ( @ID int)
as
begin
select * from Category where ID = @ID
end
GO
/****** Object:  StoredProcedure [dbo].[Category_Insert]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Category_Insert] ( @Name nvarchar(1000), @Type int)
as
begin
if(not exists(select name from Category where Name = @Name))
insert into Category (Name, Type) values (@Name, @Type)
end
GO
/****** Object:  StoredProcedure [dbo].[Category_Update]    Script Date: 8/9/2025 4:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Category_Update] (@ID int, @Name nvarchar(1000), @Type int)
as
begin
update Category set [Name] = @Name, [Type] = @Type where ID = @ID
end
GO

--Thủ tục thêm dữ liệu vào bảng Table--
create proc Table_Insert
@Name nvarchar(100),
@Status bit,
@Capacity int
as
begin
insert into [Table] ([Name],[Status],[Capacity])
values (@Name,@Status,@Capacity)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng Table--
create proc Table_Update
@ID int,
@Name nvarchar(100),
@Status bit,
@Capacity int
as
begin
update [Table]
set [Name]=@Name,[Status]=@Status,[Capacity]=@Capacity
where ID=@ID
end
go

--Thủ tục xóa trong bảng Table--
create proc Table_Delete
@ID int
as
begin
    delete from [Table] where ID = @ID
end
go

-- Insert --
exec Table_Insert N'VIP.99', 0, 25;

-- Update --
exec Table_Update 1, N'Bàn 01 - Sửa', 1, 6;

-- Delete --
exec Table_Delete 2001;

select * from [Table]


-- Thủ tục thêm dữ liệu trong bảng Bills --
create proc Bills_Insert
@Name nvarchar(100),
@TableID int,
@Amount int,
@Discount float,
@Tax float,
@Status bit,
@CheckoutDate smalldatetime = null,
@Account nvarchar(100)
as
begin
insert into Bills ([Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account])
    values (@Name, @TableID, @Amount, @Discount, @Tax, @Status, @CheckoutDate, @Account)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng Bills --
create proc Bills_Update
@ID int, 
@Name nvarchar(100), 
@TableID int, 
@Amount int, 
@Discount float, 
@Tax float, 
@Status bit, 
@CheckoutDate smalldatetime = null, 
@Account nvarchar(100)
as
begin 
	update Bills
	set [Name]=@Name,[TableID] = @TableID, [Amount] = @Amount,
        [Discount] = @Discount, [Tax] = @Tax, [Status] = @Status,
        [CheckoutDate] = @CheckoutDate, [Account] = @Account
    where ID = @ID
end
go
-- Thủ tục xóa dữ liệu trong bảng Bills --
create proc Bills_Delete
@ID int
as
begin
	delete from Bills where ID=@ID
end
go

-- Insert
exec Bills_Insert N'Hóa đơn test', 1, 500000, 0.1, 0.05, 0, NULL, N'lgcong';

-- Update
exec Bills_Update 2, N'Hóa đơn thanh toán đã sửa', 5, 200000, 0.05, 0.1, 1, '2025-08-15', N'tdquy';

-- Delete
exec Bills_Delete 2;

select * from Bills

-- Thủ tục thêm dữ liệu trong bảng Food --
create proc Food_Insert
@Name nvarchar(200), 
@Unit nvarchar(50), 
@FoodCategoryID int, 
@Price int, 
@Notes nvarchar(1000)
as 
begin 
	insert into Food ([Name], [Unit], [FoodCategoryID], [Price], [Notes])
    values (@Name, @Unit, @FoodCategoryID, @Price, @Notes)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng Food --
create proc Food_Update
@ID int,
@Name nvarchar(200), 
@Unit nvarchar(50), 
@FoodCategoryID int, 
@Price int, 
@Notes nvarchar(1000)
as 
begin 
update Food
set [Name] = @Name, [Unit] = @Unit, [FoodCategoryID] = @FoodCategoryID, 
        [Price] = @Price, [Notes] = @Notes
where ID=@ID
end 
go

-- Thủ tục xóa dữ liệu trong bảng Food --
create proc Food_Delete
@ID int
as
begin
	delete from Food where ID=@ID
end
go

-- Insert
exec Food_Insert N'Cá hồi nướng', N'Đĩa', 2, 150000, N'Đặc biệt';

-- Update
exec Food_Update 1, N'Rau muống xào tỏi (sửa)', N'Đĩa', 6, 25000, NULL;

-- Delete
exec Food_Delete 13;

select * from Food


-- Thủ tục thêm dữ liệu trong bảng BillDetails --
create proc BillDetails_Insert
@InvoiceID int, 
@FoodID int, 
@Quantity int
as
begin 
	insert into BillDetails ([InvoiceID], [FoodID], [Quantity])
    values (@InvoiceID, @FoodID, @Quantity)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng BillDetails --
create proc BillDetails_Update
@ID int, 
@InvoiceID int, 
@FoodID int, 
@Quantity int
as
begin 
	update BillDetails
	set [InvoiceID] = @InvoiceID, [FoodID] = @FoodID, [Quantity] = @Quantity
    where ID = @ID
end
go

-- Thủ tục xóa dữ liệu trong bảng BillDetails --
create proc BillDetails_Delete
@ID int
as 
begin 
	delete from BillDetails where ID=@ID
end
go

-- Insert
exec BillDetails_Insert 1, 5, 3;

-- Update
exec BillDetails_Update 3, 1, 3, 5;

-- Delete
exec BillDetails_Delete 1;

select * from BillDetails

-- Thủ tục thêm dữ liệu trong bảng Role --
create proc Role_Insert
@RoleName nvarchar(100), 
@Path nvarchar(200), 
@Notes nvarchar(1000)
as
begin 
	insert into Role ([RoleName], [Path], [Notes])
    values (@RoleName, @Path, @Notes)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng Role --
create proc Role_Update
@ID int,
@RoleName nvarchar(100), 
@Path nvarchar(200), 
@Notes nvarchar(1000)
as 
begin
	update Role
	set [RoleName] = @RoleName, [Path] = @Path, [Notes] = @Notes
    where ID = @ID
end
go

-- Thủ tục xóa dữ liệu trong bảng Role --
create proc Role_Delete
@ID int
as 
begin
	delete from Role where ID=@ID
end
go

-- Insert
exec Role_Insert N'Thu ngân', NULL, N'Chuyên thu tiền';

-- Update
exec Role_Update 5, N'Administrator', NULL, N'Quản trị hệ thống';

-- Delete
exec Role_Delete 5;

select * from Role

--Thủ tục thêm dữ liệu trong bảng Account --
create proc Account_Insert
@AccountName nvarchar(100), 
@Password nvarchar(100), 
@FullName nvarchar(200), 
@Email nvarchar(200), 
@Tell nvarchar(50), 
@DateCreated smalldatetime
as
begin
    insert into Account ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated])
    values (@AccountName, @Password, @FullName, @Email, @Tell, @DateCreated)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng Account --
create procedure Account_Update
@AccountName nvarchar(100), 
@Password nvarchar(100), 
@FullName nvarchar(200), 
@Email nvarchar(200), 
@Tell nvarchar(50), 
@DateCreated smalldatetime
as
begin
    update Account
    set [Password] = @Password, [FullName] = @FullName, [Email] = @Email, 
        [Tell] = @Tell, [DateCreated] = @DateCreated
    where AccountName = @AccountName
end
go

-- Thủ tục xóa dữ liệu trong bảng Account
create procedure Account_Delete
    @AccountName nvarchar(100)
as
begin
    delete from Account where AccountName = @AccountName
end
go

-- Insert
exec Account_Insert N'newuser', N'123456', N'Người Dùng Mới', N'newuser@dlu.edu.vn', N'0123456789', '2025-08-15';

-- Update
exec Account_Update N'newuser', N'newpass', N'Lê Gia Công (sửa)', N'cong_sua@dlu.edu.vn', NULL, '2025-08-15';

-- Delete
exec Account_Delete N'newuser';

select * from Account

-- Thủ tục thêm dữ liệu trong bảng RoleAccount -- 
create proc RoleAccount_Insert
@RoleID int,
@AccountName nvarchar(100), 
@Actived bit, 
@Notes nvarchar(1000)
as
begin
    insert into RoleAccount ([RoleID], [AccountName], [Actived], [Notes])
    values (@RoleID, @AccountName, @Actived, @Notes)
end
go

-- Thủ tục cập nhật dữ liệu trong bảng RoleAccount --
create procedure RoleAccount_Update
@RoleID int, 
@AccountName nvarchar(100), 
@Actived bit, 
@Notes nvarchar(1000)
as
begin
    update RoleAccount
    set [Actived] = @Actived, [Notes] = @Notes
    where RoleID = @RoleID and AccountName = @AccountName
end
go

-- Thủ tục xóa dữ liệu trong bảng RoleAccount --
create procedure RoleAccount_Delete
@RoleID int, 
@AccountName nvarchar(100)
as
begin
    delete from RoleAccount where RoleID = @RoleID and AccountName = @AccountName
end
go

-- Insert
exec RoleAccount_Insert 2,N'lgcong', 1, N'Tạm thời bổ sung';

-- Update
exec RoleAccount_Update 2, N'lgcong', 0, N'Không còn hoạt động';

-- Delete
exec RoleAccount_Delete 2, N'lgcong';

select * from RoleAccount

-- Thủ tục lấy tất cả mẫu tin theo tên bảng --
create proc [dbo].[GetAll]
(
	@TableName nvarchar(200)
)
as
begin
	-- Khai báo chuỗi và gán chuỗi --
	declare @Sql nvarchar(1000)
	set @Sql='Select * from ' +@TableName
	exec(@Sql)
end

exec GetAll 'Category';
exec GetAll 'Food';
exec GetAll 'Bills';

-- Thủ tục lấy tất cả mẫu tin theo ID, Tên bảng --
create proc [dbo].[GetByID]
(
    @TableName nvarchar(200),
    @ID int
)
as
begin
    declare @Sql nvarchar(1000)
    -- Ghép chuỗi SQL động
    set @Sql = 'Select * from ' + @TableName + ' where ID = @ID';

    -- Thực thi với tham số @ID truyền vào
    exec sp_executesql @Sql, N'@ID int', @ID=@ID;
end
go

EXEC dbo.GetByID 'Category', 3;
EXEC GetByID 'Food', 8;     
EXEC GetByID 'Bills', 1;    

-- Thủ tục xóa dữ liệu theo ID ,Tên bảng --
create proc [dbo].[DeleteByID]
(
	@TableName nvarchar(1000),
	@ID int
)
as
begin
	declare @Sql nvarchar(1000)
	SET @Sql = N'Delete from ' + @TableName + ' where ID = @ID';
	exec sp_executesql @Sql, N'@ID int', @ID=@ID;
end
go


EXEC DeleteByID 'BillDetails',4; 

select * from BillDetails

exec BillDetails_Insert 1, 5, 3;

DROP PROCEDURE DeleteByID;
GO

select * from Category
select * from Food
