CREATE DATABASE QLMonAn
Use QLMonAn
CREATE TABLE MonAn(
	MaMonAn int  NOT NULL PRIMARY KEY,
	TenMonAn nvarchar(50) NOT NULL,
	DonViTinh nvarchar(50) NULL,
	DonGia int NULL,
	Nhom int NULL)

CREATE TABLE NhomMonAn(
	MaNhom int  NOT NULL PRIMARY KEY,
	TenNhom nvarchar(50) NOT NULL)
 
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (1, N'Gỏi thập cẩm', N'Dĩa', 120000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (2, N'Gỏi sứa', N'Dĩa', 140000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (3, N'Gỏi tai heo', N'Dĩa', 110000, 1)

INSERT NhomMonAn (MaNhom, TenNhom) VALUES (1, N'Khai vị')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (2, N'Hải sản')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (3, N'Bia - Nước ngọt')

go

-- Lấy tất cả nhóm món ăn
CREATE PROC GetAllNhom
AS
BEGIN
    SELECT * FROM NhomMonAn
END

go

-- Lấy tất cả món ăn (kèm tên nhóm)
CREATE PROC GetAllMonAn
AS
BEGIN
    SELECT m.MaMonAn, m.TenMonAn, m.DonViTinh, m.DonGia, n.TenNhom
    FROM MonAn m JOIN NhomMonAn n ON m.Nhom = n.MaNhom
END

go

-- Lấy món ăn theo nhóm
CREATE PROC GetMonAnByNhom
    @MaNhom int
AS
BEGIN
    SELECT m.MaMonAn, m.TenMonAn, m.DonViTinh, m.DonGia, n.TenNhom
    FROM MonAn m JOIN NhomMonAn n ON m.Nhom = n.MaNhom
    WHERE m.Nhom = @MaNhom
END

go

-- Thêm món ăn
CREATE PROC InsertMonAn
    @MaMonAn int,
    @TenMonAn nvarchar(50),
    @DonViTinh nvarchar(50),
    @DonGia int,
    @Nhom int
AS
BEGIN
    INSERT INTO MonAn VALUES (@MaMonAn, @TenMonAn, @DonViTinh, @DonGia, @Nhom)
END

go

-- Sửa món ăn
CREATE PROC UpdateMonAn
    @MaMonAn int,
    @TenMonAn nvarchar(50),
    @DonViTinh nvarchar(50),
    @DonGia int,
    @Nhom int
AS
BEGIN
    UPDATE MonAn
    SET TenMonAn=@TenMonAn, DonViTinh=@DonViTinh, DonGia=@DonGia, Nhom=@Nhom
    WHERE MaMonAn = @MaMonAn
END

go

-- Xóa món ăn
CREATE PROC DeleteMonAn
    @MaMonAn int
AS
BEGIN
    DELETE FROM MonAn WHERE MaMonAn = @MaMonAn
END