CREATE DATABASE QLSinhVien
Use QLSinhVien

CREATE TABLE Lop(
	ID int NOT NULL PRIMARY KEY,
	TenLop nvarchar(20) NOT NULL)

CREATE TABLE SinhVien(
	ID int NOT NULL PRIMARY KEY,
	HoTen nvarchar(100) NOT NULL,
	MaLop int NULL)

INSERT Lop (ID, TenLop) VALUES (1, N'CTK43')
INSERT Lop (ID, TenLop) VALUES (2, N'CTK44A')
INSERT Lop (ID, TenLop) VALUES (3, N'CTK44B')

INSERT SinhVien (ID, HoTen, MaLop) VALUES (1, N'Trần Văn Thái', 1)
INSERT SinhVien (ID, HoTen, MaLop) VALUES (2, N'Mai Thành Thân', 2)
INSERT SinhVien (ID, HoTen, MaLop) VALUES (3, N'Phạm Thanh Thảo', 2)

GO
CREATE PROC InsertStudent
	@Id int,
	@HoTen nvarchar(100),
	@MaLop int
AS
BEGIN
	INSERT INTO SinhVien
	VALUES (@Id, @HoTen, @MaLop)
END

go

CREATE PROC GetAllSinhVien
AS
BEGIN
    SELECT sv.ID, sv.HoTen, sv.MaLop, l.TenLop
    FROM SinhVien sv
    JOIN Lop l ON sv.MaLop = l.ID
END

Select * from Lop
Select * from SinhVien